### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
!**/src/main/resources/application.properties


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Firebase credentials - never commit this!
backend_Java/src/main/resources/poolapp-ca624-firebase-adminsdk-fbsvc-2b87049878.json

# Maven
target/

# IDE files (optional but recommended)
backend_Java/.idea/
*.iml

# outdated files
Outdated/

# In your .gitignore
*.json
*.plist
application.properties
logs/
*.log
.idea/
*.class